* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #3b4997;
    width: 100%;
    height: 70px;
    align-items: center;
    color: white;
    position: fixed;
}

.navigasi {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.menu {
    margin-left: 700px;
    padding-top: 8px;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    color: lightskyblue;
    font-style: italic;
}

.benner {
    background-color: #3b5999;
    height: 600px;
    text-align: center;
    color: white;
}

.benner img {
    border-radius: 100px;
    height: 150px;
    border: 6px solid white;
    margin-top: 100px;
}

.benner h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.benner button {
    margin-top: 60px;
    padding: 10px;
    width: 400px;
    border-radius: 50px;
    border: none;
}

.benner button:hover {
    background-color: #3b5999;
    border: 1px solid white;
    color: white;
}

h1 span:before{
    content: '';
    animation: gerak infinite 8s ease;
    transform: translateY(-50%);
    color: lightblue;
    font-size: 50px;
}

@keyframes gerak {
    0% {
        content: 'Selamat Datang';
    }

    50% {
        content: 'Saya Sri Mustika Dewi';
    }

    100% {
        content: 'Terimakasih Sudah Singgah!';
    }
}

.box-pendidikan {
    text-align: center;
    color: #4d4d4d;
    margin-top: 30px;
    align-content: center;
}

.box {
    display: flex;
    justify-content: space-between;
}

.box-kiri, .box-tengah, .box-kanan {
    width: 300px;
    height: 320px;
    background-color: #f0f0f0;
    text-align: center;
    padding: 30px 30px;
    margin: 70px 20px 20px 55px;
    border-radius: 10px;
}

.box-kiri:hover, .box-tengah:hover, .box-kanan:hover {
    background-color: #3b5999;
    color: white;
}

.box-pendidikan h3, p {
    margin-top: 10px;
    margin-bottom: 13px;
    padding: 0px 20px;
}

.box-softskill {
    text-align: center;
    color: #4d4d4d;
    margin: 0px auto ;
    margin-top: 100px;
}

.box-kontak img {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.box-kontak {
text-align: center;
color: #4d4d4d;
margin-top: 100px;
}

.footer {
    background-color: grey;
    width: 100%;
    height: 40px;
    color: white;
    padding: 3px;
    margin: 50px auto 0px;
    text-align: center;
}